@model Instrument
@{
    ViewBag.Title = "Delete Instrument";
}

<h2 style="color: azure">Confirm Deletion</h2>
<h4 style="color: azure">@Model.Name</h4>
<br />
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="InstrumentId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>