@model Instrument
@{
    string title = ViewBag.Action + " Instrument";
    ViewBag.Title = title;
}

<h2 style="color: azure">@ViewBag.Title</h2>

<form asp-action="Edit" method="post" style="color: azure; font-weight: bold">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Year">Year</label>
        <input asp-for="Year" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">select a category</option>
            @foreach (Category i in ViewBag.Categories)
            {
                <option value="@i.CategoryId">@i.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="InstrumentId" />

    <button type="submit" class="btn btn-info">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>