<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" typw="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-color: #496969">
    <div class="container">
        <header class="jumbotron" style="background-color: darkslategray; color: azure">
            <h1>
                Instranomalies <img src="~/KALA-BANJO-UKULELE-Ukulele-Magazine-Banjo-Uke-.webp" width="33%" height="33%" />
            </h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>